<h1>Hello Rails!</h1>

Our blog has <%= Article.public_count %> articles.

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <a href="<%= article_path(article) %>">
          <%= article.title %>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'New Article', new_article_path %>